course2-part1/hello-world/helloWorld-Flow.json
[
    {
        "id": "1b72e8d575aef462",
        "type": "tab",
        "label": "Hello World",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2056f3e1db1ea56d",
        "type": "function",
        "z": "1b72e8d575aef462",
        "name": "Get the latest block number",
        "func": "const PRIVATE_KEY = msg.privateKey;\nconst CONTRACT_ADDRESS = msg.smartContract;\n\nconst provider = new ethers.providers.JsonRpcProvider(msg.RPCUrl);\nconst wallet = new ethers.Wallet(PRIVATE_KEY, provider);\n\nconst contractABI = [\n    {\n        \"inputs\": [],\n        \"stateMutability\": \"nonpayable\",\n        \"type\": \"constructor\"\n    },\n    {\n        \"inputs\": [],\n        \"name\": \"greetingMessage\",\n        \"outputs\": [\n            {\n                \"internalType\": \"string\",\n                \"name\": \"\",\n                \"type\": \"string\"\n            }\n        ],\n        \"stateMutability\": \"view\",\n        \"type\": \"function\"\n    },\n    {\n        \"inputs\": [\n            {\n                \"internalType\": \"string\",\n                \"name\": \"name\",\n                \"type\": \"string\"\n            }\n        ],\n        \"name\": \"setGreetings\",\n        \"outputs\": [\n            {\n                \"internalType\": \"string\",\n                \"name\": \"\",\n                \"type\": \"string\"\n            }\n        ],\n        \"stateMutability\": \"nonpayable\",\n        \"type\": \"function\"\n    }\n]\n\nconst contract = new ethers.Contract(CONTRACT_ADDRESS, contractABI, provider);\nconst contractWithSigner = contract.connect(wallet);\n\n// Store the contractWithSigner in the global context\nglobal.set(\"contractWithSigner\", contractWithSigner);\n\n// Reading the greetingMessage\nconst message = await contractWithSigner.greetingMessage();\nnode.status({ fill: 'green', shape: 'ring', text: message });\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "ethers",
                "module": "ethers"
            }
        ],
        "x": 720,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b39cf752aa4c07c6",
        "type": "function",
        "z": "1b72e8d575aef462",
        "name": "Get the latest block number",
        "func": "// Retrieve the contractWithSigner from the global context\nconst contractWithSigner = global.get(\"contractWithSigner\");\n\n// Updating the greetingMessage\nconsole.log(\"Updating the message...\");\nconst tx = await contractWithSigner.setGreetings(msg.name);\nawait tx.wait();\n\n// Reading the updated greetingMessage\nconst newMessage = await contractWithSigner.greetingMessage();\nnode.status({ fill: 'green', shape: 'ring', text: newMessage });\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "ethers",
                "module": "ethers"
            }
        ],
        "x": 720,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "45f641afd1987841",
        "type": "inject",
        "z": "1b72e8d575aef462",
        "name": "Greetings connect",
        "props": [
            {
                "p": "smartContract",
                "v": "0x5FbDB2315678afecb367f032d93F642f64180aa3",
                "vt": "str"
            },
            {
                "p": "privateKey",
                "v": "0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80",
                "vt": "str"
            },
            {
                "p": "RPCUrl",
                "v": "http://127.0.0.1:8545/",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "2056f3e1db1ea56d"
            ]
        ]
    },
    {
        "id": "fc9d0ae74cde3e6f",
        "type": "inject",
        "z": "1b72e8d575aef462",
        "name": "Set Greetings",
        "props": [
            {
                "p": "name",
                "v": "New name!",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "b39cf752aa4c07c6"
            ]
        ]
    }
]